<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/common_head :: commonHead('MENU')">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div>


    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 th:inline="text">
            [[${data.name}]]
            <small>信息修改</small>
        </h1>
        <!--<ol class="breadcrumb">-->
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li><a href="#">Charts</a></li>-->
        <!--<li class="active">Flot</li>-->
        <!--</ol>-->
    </section>

    <!-- Main content -->
    <section class="content" th:inline="text">
        <!--menu列表-->

        <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
        <form class="form-horizontal" id="lazyform" th:action="@{/user}" method="post">
            <input type="hidden" name="_method" th:value="put">
            <div class="form-group">
                <label for="id" class="col-sm-2 control-label">ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id" name="id" placeholder="ID" readonly th:value="${data.id}">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="name" th:value="${data.name}">
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">登录名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="username" th:value="${data.username}">
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="password" class="col-sm-2 control-label">password</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" id="password" name="password" placeholder="password" readonly th:value="${data.password}">-->
                <!--</div>-->
            <!--</div>-->




            <div class="form-group">
                <label for="workcode" class="col-sm-2 control-label">workcode</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="workcode" name="workcode" placeholder="workcode" th:value="${data.workcode}">
                </div>
            </div>
            <div class="form-group">
                <label for="sumPasswordWrong" class="col-sm-2 control-label">sumPasswordWrong</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="sumPasswordWrong" name="sumPasswordWrong" placeholder="sumPasswordWrong" th:value="${data.sumPasswordWrong}">
                </div>
            </div>
            <div class="form-group">
                <label for="passwordLock" class="col-sm-2 control-label">passwordLock</label>
                <div class="col-sm-10">
                    <!--<input type="email" class="form-control" id="Parent" placeholder="Email" readonly th:value="${menu.parentId}">-->
                    <select id="passwordLock" name="passwordLock" class="form-control">
                        <option value="1" th:selected="${data.passwordLock==1}">否</option>
                        <option value="0" th:selected="${data.passwordLock==0}">是</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email" th:value="${data.email}">
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="col-sm-2 control-label">mobile</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="mobile" th:value="${data.mobile}">
                </div>
            </div>
            <div class="form-group">
                <label for="telphone" class="col-sm-2 control-label">telphone</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="telphone" name="telphone" placeholder="telphone" th:value="${data.telphone}">
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="mobile" class="col-sm-2 control-label">mobile</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="tel" class="form-control" id="mobile" name="mobile" placeholder="mobile" th:value="${data.mobile}">-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label for="idCard" class="col-sm-2 control-label">idCard</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="idCard" name="idCard" placeholder="idCard" th:value="${data.idCard}">
                </div>
            </div>
            <div class="form-group">
                <label for="currentLoginDate" class="col-sm-2 control-label">最后登录时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="currentLoginDate"  placeholder="currentLoginDate" readonly th:value="${data.currentLoginDate}">
                </div>
            </div>
            <div class="form-group">
                <label for="createDate" class="col-sm-2 control-label">创建时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="createDate" name="createDate" readonly placeholder="createDate" th:value="${data.createDate}">
                </div>
            </div>
            <div class="form-group">
                <label for="modifyDate" class="col-sm-2 control-label">最后修改时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="modifyDate"  placeholder="modifyDate" readonly th:value="${data.modifyDate}">
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="submit" type="button" class="btn btn-primary">修改</button>
                </div>
            </div>
        </form>


    </section>
</div>
<script type="text/javascript">


    $("#submit").click(function () {
        layer.load();
        $.ajax({
            //几个参数需要注意一下
            type: "put",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: ctx + "/user",//url
            data: $('#lazyform').serialize(),
            success: function (result) {
                // console.log(result);//打印服务端返回的数据(调试用)
                // parent.layer.closeAll();
                if (result.code == 200) {

                    parent.layer.msg("更新成功");
                    parent.table.reload("laytable", {});
                    window.location.href = ctx + "/user/view/" + $("#id").val();
                }else {
                    parent.layer.msg(result.msg);
                }
            },
            error: function () {
                layer.msg("异常！");
            }
        });
    });
</script>

<!-- ./wrapper -->
<div th:include="commons/common_js :: commonJs"></div>


</body>
</html>
