<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/common_head :: commonHead('SCHEDULEJOB')">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div>


    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 th:inline="text">
            添加定时任务
            <!--<small>信息修改</small>-->
        </h1>
        <!--<ol class="breadcrumb">-->
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li><a href="#">Charts</a></li>-->
        <!--<li class="active">Flot</li>-->
        <!--</ol>-->
    </section>

    <!-- Main content -->
    <section class="content" th:inline="text">
        <!--menu列表-->

        <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
        <form class="form-horizontal" id="form" th:action="@{/scheduleJob}" method="post">
            <!--<input type="hidden" name="_method" th:value="put">-->
            <!--<div class="form-jobgroup">-->
            <!--<label for="id" class="col-sm-2 control-label">ID</label>-->
            <!--<div class="col-sm-10">-->
            <!--<input name="id" class="form-control" id="id" placeholder="ID">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="jobgroup" class="col-sm-2 control-label">jobgroup</label>
                <div class="col-sm-10">
                    <input type="text" name="jobgroup" class="form-control" id="jobgroup" placeholder="jobgroup" value="default" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="classpath" class="col-sm-2 control-label">classpath</label>
                <div class="col-sm-10">
                    <!--<span type="text" class="form-control" id="parentId_span" placeholder="parentId_span"></span>-->
                    <input type="text"  name="classpath" class="form-control" id="classpath" placeholder="classpath">
                </div>
            </div>
            <div class="form-group" th:inline="text">
                <label for="method" class="col-sm-2 control-label">method</label>
                <div class="col-sm-10">
                    <input type="text" name="method" class="form-control" id="method" placeholder="method">
                </div>
            </div>
            <div class="form-group">
                <label for="concurrent" class="col-sm-2 control-label">是否并发</label>
                <div class="col-sm-10">
                    <!--<input type="email" class="form-control" id="Parent" placeholder="Email" readonly th:value="${menu.parentId}">-->
                    <select id="concurrent" class="form-control" name="concurrent">
                        <option value="0">是</option>
                        <option value="1">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="cron" class="col-sm-2 control-label">cron</label>
                <div class="col-sm-10">
                    <input type="text" name="cron" class="form-control" id="cron" placeholder="cron">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">description</label>
                <div class="col-sm-10">
                    <input type="text" name="description" class="form-control" id="description" placeholder="description">
                </div>
            </div>
            <div class="form-group">
                <label for="jobstatus" class="col-sm-2 control-label">是否启用</label>
                <div class="col-sm-10">
                    <!--<input type="email" class="form-control" id="Parent" placeholder="Email" readonly th:value="${menu.parentId}">-->
                    <select id="jobstatus" class="form-control" name="jobstatus">
                        <option value="0">是</option>
                        <option value="1">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="submit" type="button" class="btn btn-primary">添加</button>
                </div>
            </div>
        </form>


    </section>
</div>
<script type="text/javascript">
    $("#submit").click(function () {
        $.ajax({
            type: 'POST',
            url: ctx + '/scheduleJob',
            data: $('#form').serializeArray(),
            success: function (data) {
                parent.layer.closeAll();
                parent.layer.msg("添加成功");
            },
            dataType: "json"
        });
    });

</script>

<!-- ./wrapper -->
<div th:include="commons/common_js :: commonJs"></div>


</body>
</html>
